.kontakt div{}
.kontakt h1{}
.kontakt a{
	text-decoration: none;
}
.kontakt{
	line-height: 1.1em;
	
}
.kontakt p{}
@media (min-width: 770px)
{
	

.kontakt {display: grid;
grid-template-columns: 1fr 1fr;
text-align: left;
justify-content:space-between;}
}