.main img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
@media (min-width: 735px)
{
	.main{display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 1em;
		grid-template-areas:
		"naslov naslov"
		"glink gtxt"
		"ilink itxt"
		"vidima itxt";
	}
	#naslov{grid-area: naslov;}
	#grohe-link{grid-area: glink;}
	#grohe-txt{grid-area: gtxt;}
	#ideal-link{grid-area: ilink;}
	#ideal-txt{grid-area: itxt;}
	#vidima{grid-area: vidima;}
	.main img{width: 100%;
	height: 100%;
	object-fit: contain;}
}