
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background-color: #f4f4f4;
	overflow-x: hidden;
}
.logo img{

	display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.header{
	background-color: #03253D;
}
.icons{display: none;}
.navbar
{
	background-color: #0A3756;
	overflow: hidden;
	height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-nav{
	display: flex;
	align-items: center;
	justify-content: center;}
.navbar a{
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}
.navbar ul{
	list-style: none;
}
.navbar a:hover{
	background-color: #ddd;
	color: #000;
}
.navbar-nav .active{
	background-color: #03253D;
	color: #C7B142;
}
.side-nav .active{
	color: #C7B142;
	z-index: 20;
}
.side-nav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: 0.9;
	overflow: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.side-nav a{
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	color: #ccc;
	display: block;
	transition: 0.3s;
}
.side-nav a:hover{
	color: #fff;
}
.side-nav .btn-close{
	position: absolute;
	top:0;
	right: 22px;
	font-size: 36px;
	margin-left: 50px;
}
.main{
text-align: justify;
color: #03253D;
}
.footer{
	background-color: #0A3756;
	color: #f2f2f2;
	font-size: 0.75em;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*.main{
	transition: margin-left 0.5s;
	overflow: hidden;
	width: 100%;
}   Tranzicija za main*/
@media (max-width: 770px)
{
	.navbar-nav{display: none;}
}
@media (max-width: 900px)
{
	.icon p{
		font-size: 0.75em;
		
	}
}
@media (min-width: 770px)
{
	
	.open-slide{display: none;}
	.icons, .icon{display: flex;
		flex-direction: row;
		align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	}
	.icons{
		justify-content: space-around;
	}
	.icon p{
		color: #f2f2f2;
		
	}
	.icon span{
		white-space: nowrap;
	}
	.icon .double{display: flex;
		flex-direction: column;
		white-space: nowrap;
		}
	.material-icons{
	font-size:3em !important;
	color:#C7B142;
	text-shadow:2px 2px 4px #000000;
}
	body{
		display: grid;
		grid-template-columns: 1fr fit-content(25em) fit-content(25em) 1fr;
		grid-template-rows: minmax(stretch, 80vh); 
		grid-template-areas:
		"header header header header" 
		"navbar navbar navbar navbar"
		"slideshow slideshow slideshow slideshow"
		" . main main ."
		"footer footer footer footer";
	}
	.navbar{
		grid-area: navbar;
	}
	.icons{
		grid-area: icons;
	}
	.logo{
		grid-area: logo;
	}
	.main{
		grid-area: main;
	}
	.slideshow{
		grid-area: slideshow;
	}
	.header{
		grid-area: header;
		display: grid;

		grid-template-columns: 1fr 3fr;
		grid-template-areas: "logo icons";
	}
	.footer{
		grid-area: footer;
	}

}